<h2>Home</h2>

<p>
  {{#link-to "account-details"}}
    Account Details
  {{/link-to}}
</p>

<!-- model.plan.days: {{ model.plan.days }} -->

<ul>
  {{#each model.things as |thing|}}
    <li>Widget: {{ thing.widget }}!</li>
  {{/each}}
</ul>

{{ days-to-go days=model.plan.days }}
{{ auth-control }}
{{ outlet }}